#logo {
    font-size: 2rem;
    font-weight: 700;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    @media (max-width: 940px) {
        justify-content: space-between;
    }


    @media (max-width: 1024px) {
        justify-content: end;

        .logo {
            margin-right: auto;
        }

        .button {
            margin-left: 2rem;
        }
    }

    .mobile-nav {
        display: none;

        @media (max-width: 940px) {
            display: block;

            i {
                font-size: 1.8rem;
            }
        }    
    }

    .primary-navigation {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (max-width: 940px) {
            display: none;
        }

        .nav-item {
            padding-block: .5rem;
            border: 2px solid transparent;

            &.active {
                border-bottom: 2px solid red;
            }

            &:hover:not(.active) {
                border-bottom: 2px solid $primary-color-2;
            }
        } 
        
        .mobile-contact {
            display: none;
        }
    }

    .nav-item {
        color: black;
        font-weight: 600;
    }

    .button {
        color: #fff;
        background-color: $primary-color-1;

        @media (max-width: 940px) {
            display: none;
        }

        &:hover {
            background-color: $primary-color-2;
        }
    }
}