.team-wrapper {
    background-color: #fff;
}

.team {
    display: grid;
    gap: 2rem;

    .h2 {
        margin-bottom: 0;
        line-height: 1;
    }

    p {
        font-size: 18px;
    }

    .position {
        font-size: 18px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 2fr;
        align-items: center;

        .h2 {
            margin-bottom: 1rem;
        }

        .members {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
}