@import 'resets';
@import 'variables';
@import 'utils';
@import 'navigation';
@import 'hero';
@import 'welcome';
@import 'services';
@import 'team';
@import 'form';
@import 'footer';

section {
    padding: 3rem 2rem;

    @media (min-width: 600px) {
        padding: 4rem;
    }

    @media (min-width: 960px) {
        padding-block: 6rem;
    }
}

h2 {
    font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
    margin-bottom: 1rem;
    line-height: 1;
}

h3 {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

