@import 'resets';
@import 'variables';
@import 'utils';
@import 'navigation';
@import 'hero';
@import 'welcome';
@import 'services';
@import 'team';

section {
    padding: 3rem 1rem;

    @media (min-width: 960px) {
        padding: 8rem 6rem;
    }
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
}

