*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family:'Poppins', sans-serif;
}
.top-content{
    padding: 0;
    margin-top: 5%;

}
.ourteam{
    margin-bottom: 2%;
}
.header{
    background-image: url('../images/ourteam-1.jpg');
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    text-align: center;
    padding: 30px 110px;
    
}
h3{
    font-size: 3.5rem;
    font-family: 800;
    color: red;
    text-align: center;
    padding-top: 30px;
}
h2{
    font-size: 3.5rem;
    font-family: 800;
    color: red;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    padding-bottom: 30px;


}
.text1{
    text-align: center;
    font-size: 17px;
}
.founders{
    background-color: rgb(240, 240, 240);
}
.img1{
    width: 350px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1), 0 6px 20px 0 rgba(0.1, 0.1, 0.1, 0.1);
}
.founders-1{
    display: flex;
    gap: 70px;
    padding-inline: 160px;
    padding-top: 60px;
    align-items: center;
}
.ourteam-information{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
}
.text4{
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    text-align: justify;
    margin-top: 2%;
}
.founders-text1{
    width: 100%;
}
.text-founder{
    font-size: 2rem;
}
@media (max-width:936px){
    .header{
        background-image: url('../images/ourteam-1.jpg');
        width: 100%;
        height: 30vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .top-content{
        padding: 0;
        margin-top: 20%;
    
    }
    h1{
        font-size: 2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.288);
        text-align: center;
        padding: 10px 30px;
        
    }
    h3{
        font-size: 3rem;
        font-family: 800;
        color: red;
        text-align: center;
        padding-top: 20px;
    }
    h2{
        font-size: 3.5rem;
        font-family: 800;
        color: red;
        text-align: center;
        padding-top: 50px;
        text-decoration: underline;
        padding-bottom: 30px;
    }
    .text1{
        text-align: center;
        font-size: 17px;
    }
    .founders{
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-direction: column;
    }
    .chairman{
        width: 100%;
    }
    .founders-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-bottom: 5%;
    }
    .img1{
        width: 80vw;
    }
    .founders-text1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text4{
        text-align: justify;
    }
    .ourteam-information{
        display: grid;
        grid-template-columns: auto;
    }
    .ourteam{
        margin-bottom: 35%;
    }
    .ourteam >h2{
        font-size: 2rem;
    }
}
