*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family:'Poppins', sans-serif;
}
.header{
    background-image: url(/assets/images/ourteam-1.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    text-align: center;
    padding: 30px 110px;
    
}
h3{
    font-size: 3.5rem;
    font-family: 800;
    color: red;
    text-align: center;
    padding-top: 30px;
}
h2{
    font-size: 3.5rem;
    font-family: 800;
    color: red;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    padding-bottom: 30px;

    @media (max-width:1431px){
       padding-top: 70px;
    }
    @media (max-width:1128px){
        padding-top: 150px;
    }
}
.text1{
    text-align: center;
    font-size: 17px;
}
.founders{
    background-color: rgb(240, 240, 240);
}
.img1{
    width: 350px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1), 0 6px 20px 0 rgba(0.1, 0.1, 0.1, 0.1);
}
.founders-1{
    display: flex;
    gap: 70px;
    padding-inline: 160px;
    padding-top: 60px;
    align-items: center;
}
.text4{
    font-weight: 400;
    line-height: 25px;
    width: 95%;
    @media (max-width:1128px){
        align-items: center;
    }
}
@media (max-width:973px){
    .header{
        background-image: url(/assets/images/ourteam-1.jpg);
        width: 100%;
        height: 30vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 4rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.288);
        text-align: center;
        padding: 10px 30px;
        
    }
    h3{
        font-size: 3rem;
        font-family: 800;
        color: red;
        text-align: center;
        padding-top: 20px;
    }
    h2{
        font-size: 3.5rem;
        font-family: 800;
        color: red;
        text-align: center;
        padding-top: 50px;
        text-decoration: underline;
        padding-bottom: 30px;
    }
    .text1{
        text-align: center;
        font-size: 17px;
    }
    .founders{
        background-color: rgb(240, 240, 240);
    }
    @media(max-width:996px){
         .img1{
        width: 350px;
        border-radius: 30px 0px 30px 0px;
        box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1), 0 6px 20px 0 rgba(0.1, 0.1, 0.1, 0.1);
    }
    .founders-1{
        display: grid;
        align-items: center;
        padding-top: 50px;
    }
    .text-founders{
        display: grid;
        justify-content: center;
    }
    .text4{
        font-weight: 400;
        line-height: 25px;
        width: 95%;
    }
    .text1{
        font-size: 17px;
        text-align: center;
        width: 570px;
    }
    .team-info{
        background-color: green;
        width: 285px;
        height: 33vh;
        border-radius: 30px 0px 30px 0px;
        box-shadow: rgba(238, 238, 238, 0.747);
    }
    .img2{
        width: 100%;
        border-radius: 20px 0px 0px 0px;
    }
    .team-name{
        color: white;
        text-align: center;
    }
    .text3{
        color: white;
        text-align: center;
    }
    .team-information{
        row-gap: 80px;
        width: 96px;
        margin: auto;
        column-gap: 80px;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    h2{
        font-size: 60px;
    }
    .founders-text2{
    }
}
}  
.text2{
    font-weight: 500;
    font-size: 20px;
}
.span-1{
    color: red;
}
.text-founder{
    color: rgb(0, 0, 0);
    font-size: 35px;
}
.team{
    background-color: rgb(240, 240, 240);
}
.team-info{
    background-color: green;
    width: 285px;
    height: 33vh;
    border-radius: 30px 0px 30px 0px;
    box-shadow: rgba(238, 238, 238, 0.747);
    
    @media (max-width:1431px){
        width: 255px;
        grid-template-columns: 1fr 1fr;
    }
}
.img2{
    width: 100%;
    border-radius: 20px 0px 0px 0px;
}
.team-name{
    color: white;
    text-align: center;
}
.text3{
    color: white;
    text-align: center;
}
.team-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
    width: 896px;
    margin: auto;
    column-gap: 80px;
    padding-top: 30px;
    padding-bottom: 80px;
}

